.location { 
  text-align: center;
  padding: 50px 10px; /* Réduit le padding à 10px à gauche et à droite */
}

.location h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

.map-container {
  height: 400px;
  width: 60%; /* Largeur de la carte limitée à 60% de la largeur de la page */
  margin: 0 auto; /* Centrer horizontalement */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

/* Mobile devices */
@media (max-width: 480px) {
  .location {
    padding: 30px 5px; /* Réduit encore le padding à 5px à gauche et à droite pour les petits écrans */
  }

  .location h2 {
    font-size: 1.8rem; /* Taille du titre réduite */
    margin-bottom: 15px;
  }

  .map-container {
    height: 250px; /* Réduit la hauteur de la carte */
    width: 80%; /* La carte occupe 80% de la largeur de l'écran mobile */
  }
}

/* Tablets (portrait and landscape) */
@media (max-width: 768px) {
  .location {
    padding: 40px 10px; /* Ajuste l'espace pour les tablettes à 10px à gauche et à droite */
  }

  .location h2 {
    font-size: 2rem; /* Taille du titre ajustée */
    margin-bottom: 20px;
  }

  .map-container {
    height: 300px; /* Hauteur de la carte ajustée */
    width: 70%; /* La carte occupe 70% de la largeur de l'écran tablette */
  }
}

/* Desktops (large screens) */
@media (min-width: 1024px) {
  .location h2 {
    font-size: 2.5rem; /* Taille du titre par défaut */
    margin-bottom: 20px;
  }

  .map-container {
    height: 400px; /* Hauteur de la carte par défaut */
    width: 60%; /* La carte occupe 60% de la largeur de l'écran desktop */
  }
}

/* Style pour la carte */
.map-container {
  height: 500px;
  width: 100%; /* La carte prend toute la largeur disponible */
  margin: 0 auto; /* Centre la carte horizontalement */
}

/* Style pour MapContainer */
.leaflet-container {
  width: 80%; /* Limite la largeur à 80% */
  height: 80%; /* Hauteur de 80% */
  margin: 0 auto; /* Centre la carte verticalement */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .map-container {
    width: 100%; /* La carte occupe 100% de la largeur pour les petits écrans */
  }
}
